/* Attribution: this CSS setting is from https://gscode.in/chat-box-design/#gsc.tab=0 */

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
  margin: 0 auto;
  width: 1010px;
  background: #444753;
  border-radius: 5px;
}

ul {
  padding: 0px;
  list-style-type: none;
  overflow:hidden; 
  overflow-y:scroll;
}

.group_list {
  width: 260px;
  float: left;
}
.group_list .group-header{
  float: left;
  vertical-align: middle;
  margin-left: 20px;
  margin-top: 10px;
}
.group_list .group-header .group-list-title{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 15px;
  font-size: 20px;
}
.group_list .search {
  padding: 20px;
}
.group_list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}
.group_list .fa-search {
  position: relative;
  left: -25px;
}
.group_list ul {
  padding: 20px;
  height: 690px;
}
.group_list li:hover {
  color:#1fa0f0;
  cursor: pointer;
}
.group_list ul li {
  padding-bottom: 20px;
}
.group_list img {
  float: left;
  width: 50px;
  height: 50px;
}

.group_list img.lock {
  float: left;
  width: 10px;
  height: 10px;
  margin-top: 6px;
  margin-right: 2px;
}

.group_list .about {
  float: left;
  margin-top: 8px;
}
.group_list .about {
  padding-left: 8px;
}
.group_list .status {
  color: #92959E;
}

.chat {
  width: 490px;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
  width: 50px;
  height: 50px;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-name {
  margin-left: 3px;
  margin-right: 3px;
}

.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #94C2ED;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .my-message:after {
  border-bottom-color: #86BB71;
  left: 93%;
}
.chat .chat-history img {
  width: 50px;
  height: 50px;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.joined, .not_joined, .private {
  margin-right: 3px;
  font-size: 10px;
}

.joined {
  color: #86BB71;
}

.not_joined {
  color: #E38968;
}

.private {
  color: black;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

button {
  border-width: 0px;
  color: white;
}

button.add{
  font-size: 24px;
  text-align: center;
  background-color: Transparent;
}

button.add:hover{
  color: lightblue;
  cursor: pointer;
}

button.kick{
  margin-top: 5px;
  background-color: rgba(255, 0, 0, 0.565);
  border-radius: 7px;
  
}

button.kick:hover{
  background-color: rgba(255, 0, 0, 0.76);
  cursor: pointer;
}

button.ban{
  margin-top: 5px;
  background-color: rgba(255, 0, 0, 0.565);
  border-radius: 7px;
  
}

button.ban:hover{
  background-color: rgba(255, 0, 0, 0.76);
  cursor: pointer;
}

button.quit{
  margin-top: 5px;
  background-color: rgba(255, 0, 0, 0.565);
  border-radius: 7px;
  
}

button.quit:hover{
  background-color: rgba(255, 0, 0, 0.76);
  cursor: pointer;
}

.form-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  border: 3px solid #f1f1f1;
  z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
  color: black;
  }
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  max-width: 270px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
  background-color: #3c51a7;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
  background-color: rgba(255, 0, 0, 0.76);
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
  opacity: 1;
  }